
<div class="white">
<h1>Registrarse</h1>

<br>
<input [(ngModel)]="nombreUsuario" class="form-control" placeholder="Nombre de usuario" (ngModelChange)="resetearMensajeError()"/>
<br>
<input [(ngModel)]="mail" class="form-control" placeholder="Mail" (ngModelChange)="resetearMensajeError()"/>
<br>
<input [(ngModel)]="password" class="form-control" type="password" placeholder="Password" (ngModelChange)="resetearMensajeError()"/>
<br>
<input [(ngModel)]="passwordRepetir" class="form-control" type="password" placeholder="Password" (ngModelChange)="resetearMensajeError()"/>
<br>
<br>

<button class="btn btn-primary" (click)="registrarUsuario()">Registrarse</button> 
<br>
<p style="color: red;">{{mensajeError}}</p>
</div>