

<div class="modal modal-sheet position-static d-block bg-body-secondary p-6 py-md-5 teclado" 
   role="dialog" id="modalSignin" >
    <div class="modal-content rounded-4 shadow">

      <div class="keyboard">
      <div class="keyboard__row">
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[0].value, 'key--letter--wrong': letrasUsadasArray[0].value}" (click)="teclado('q')">Q</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[1].value, 'key--letter--wrong': letrasUsadasArray[1].value}" (click)="teclado('w')">W</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[2].value, 'key--letter--wrong': letrasUsadasArray[2].value}" (click)="teclado('e')">E</div>

        <div [ngClass]="{'key--letter':  !letrasUsadasArray[3].value, 'key--letter--wrong': letrasUsadasArray[3].value}" (click)="teclado('r')">R</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[4].value, 'key--letter--wrong': letrasUsadasArray[4].value}" (click)="teclado('t')">T</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[5].value, 'key--letter--wrong': letrasUsadasArray[5].value}" (click)="teclado('y')">Y</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[6].value, 'key--letter--wrong': letrasUsadasArray[6].value}" (click)="teclado('u')">U</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[7].value, 'key--letter--wrong': letrasUsadasArray[7].value}" (click)="teclado('i')">I</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[8].value, 'key--letter--wrong': letrasUsadasArray[8].value}" (click)="teclado('o')">O</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[9].value, 'key--letter--wrong': letrasUsadasArray[9].value}" (click)="teclado('p')">P</div> 
      </div>
      <div class="keyboard__row">
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[10].value, 'key--letter--wrong': letrasUsadasArray[10].value}" (click)="teclado('a')">A</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[11].value, 'key--letter--wrong': letrasUsadasArray[11].value}" (click)="teclado('s')">S</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[12].value, 'key--letter--wrong': letrasUsadasArray[12].value}" (click)="teclado('d')">D</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[13].value, 'key--letter--wrong': letrasUsadasArray[13].value}" (click)="teclado('f')">F</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[14].value, 'key--letter--wrong': letrasUsadasArray[14].value}" (click)="teclado('g')">G</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[15].value, 'key--letter--wrong': letrasUsadasArray[15].value}" (click)="teclado('h')">H</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[16].value, 'key--letter--wrong': letrasUsadasArray[16].value}" (click)="teclado('j')">J</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[17].value, 'key--letter--wrong': letrasUsadasArray[17].value}" (click)="teclado('k')">K</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[18].value, 'key--letter--wrong': letrasUsadasArray[18].value}" (click)="teclado('l')">L</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[19].value, 'key--letter--wrong': letrasUsadasArray[19].value}" (click)="teclado('ñ')">Ñ</div>          
      </div>
    
      <div class="keyboard__row">
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[20].value, 'key--letter--wrong': letrasUsadasArray[20].value}" (click)="teclado('z')">Z</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[21].value, 'key--letter--wrong': letrasUsadasArray[21].value}" (click)="teclado('x')">X</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[22].value, 'key--letter--wrong': letrasUsadasArray[22].value}" (click)="teclado('c')">C</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[23].value, 'key--letter--wrong': letrasUsadasArray[23].value}" (click)="teclado('v')">V</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[24].value, 'key--letter--wrong': letrasUsadasArray[24].value}" (click)="teclado('b')">B</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[25].value, 'key--letter--wrong': letrasUsadasArray[25].value}" (click)="teclado('n')">N</div>
        <div [ngClass]="{'key--letter':  !letrasUsadasArray[26].value, 'key--letter--wrong': letrasUsadasArray[26].value}" (click)="teclado('m')">M</div>

      </div>
    </div>
  </div>
</div>


