
    
    <div class="white" style="text-align: center;">
    <br>
    <img src="/assets/CV.png" alt="image" class="imagen">

    <br>
    <h1>Hola! soy Tomas Sanchez de Bustamante</h1>
    <br>
    <p>
        Soy un apasionado de la tecnología y la seguridad informática. 
        <br>
        Comencé mi carrera en pentesting de forma autodidacta, participando en desafíos de TryHackMe y HackTheBox, 
        <br>
        lo que me permitió desarrollar habilidades en resolución de problemas. 
        <br>
        Sin embargo, sentia que me faltaba aprender mucho mas.
        <br>
        <br>
        En el 2021, comencé a estudiar programación en la UTN, donde adquirí habilidades como la programación orientada a objetos, 
        <br>
        el desarrollo de software y la arquitectura de sistemas. Durante mi carrera, descubrí mi interés por la programación, 
        <br>
        lo que me llevó a enfocar mi formación en este campo.
        <br>
        <br>
        Desde el 2022, he estado trabajando con tecnología Salesforce, 
        <br>
        donde he podido aplicar mis habilidades en desarrollo de software para ayudar a clientes a crear soluciones eficientes y escalables. 
        <br>
        He trabajado en diferentes proyectos, desde la creación de APIs hasta la optimización de bases de datos.
    </p>
    <br>
</div>