
    
    <div class="white" style="text-align: center;">
    <br>
    <img src="/assets/CV.png" alt="image" class="imagen">

    <br>
    <h1>Hola! soy Tomas Sanchez de Bustamante</h1>
    <br>
    <p>
        Soy un apasionado de la tecnología y la seguridad informática. 
        <br>
        Comencé mi carrera en pentesting de forma autodidacta, participando en desafíos de TryHackMe y HackTheBox, 
        <br>
        lo que me permitió desarrollar habilidades en resolución de problemas. 
        <br>
        Sin embargo, sentia que me faltaba aprender mucho mas.
        <br>
        <br>
        En el 2021, comencé a estudiar programación en la UTN, donde adquirí habilidades como la programación orientada a objetos, 
        <br>
        el desarrollo de software y la arquitectura de sistemas. Durante mi carrera, descubrí mi interés por la programación, 
        <br>
        lo que me llevó a enfocar mi formación en este campo.
        <br>
        <br>
        Desde el 2022, he estado trabajando con tecnología Salesforce, 
        <br>
        donde he podido aplicar mis habilidades en desarrollo de software para ayudar a clientes a crear soluciones eficientes y escalables. 
        <br>
        He trabajado en diferentes proyectos, desde la creación de APIs hasta la optimización de bases de datos.
    </p>
    <br><br><hr><br><br>
    <h1>Mi juego</h1>
    <p>
        <br>
        He decidido hacer una replica del clasico juego de mesa "Monopoly",
        <br>
        donde la meta del juego es comprar propiedades con el fin de hacerse millonario.
        <br>
        El juego termina cuando uno de los 2 jugadores se queda sin dinero.
        <br>
        <br>
        Para arrancar, el jugador clickeará sobre los dados para empezar su turno
        <br>
        una vez que caiga sobre una propiedad se le dará la oportunidad si quiere invertir su dinero en esta,
        <br>
        si lo hace, cuando el otro jugador caiga en esta propiedad se le cobrará un alquiler.
        <br>
        <br>
        <b>Suerte / Arca Comunal</b>
        <br>
        Se sacarán al azar una carta donde pueden pasar cosas como ir a la carcel, deber dinero o recibirlo
        <br>
        <br>
        <b>Carcel / Vaya a la Carcel</b>
        <br>
        Si usted cae aquí perderá 3 turnos a menos que logre sacar dados iguales
        <br>
        <br>
        <b>Servicios</b>
        <br>
        Tendrá que pagar al estado un gasto publico
        <br>
        <br>
        <b>Salida</b>
        <br>
        Cada vez que vuelva a pasar por la salida recibira $200 
    </p>
    <br>
</div>